@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    padding: 0;
}

.nav {
    background: #232323;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    
}
.nav li a:hover {
    background-color: #2e2e2e;
}

#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}

#search {
    width: 357px;
    margin: 4px;
}
#search_text{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #c0c0c0;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search_text:focus {
    background: rgb(64, 151, 119);
}
#search_button {
    border: 0 none;
    background: #1f7f5c url(search.png) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}

#options a{
    border-left: 0 none;
}
#options&gt;a {
    background-image: url(triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: -100px;
    width: 290px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
    z-index:10;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}


.analytics {
	margin: 1rem;
	display: grid;
	grid-template-columns: 64% auto;
	grid-gap: 2rem;
}

.card {
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1rem;
}


body{
	background:#c0c0c0;
}

table{
	border-collapse : collapse;
}


.container{
  border: 1px white; /* bordure noire d'une épaisseur de 1 pixel */
  padding: 10px; /* ajout d'un espace intérieur pour éviter que le texte ne touche la bordure */
  background-color: white;
  margin-top: 30px;
}


.cdd{
	text-align : right;
	font-family: Montserrat, sans-serif;
}

.qtt{
	text-align : center;
	margin-top : -20px;
	font-family: Montserrat, sans-serif;
}

.dtcrea{
	text-align : left;
	margin-top : -20px;
	font-family: Montserrat, sans-serif;
}

.btt{
	text-align : right;
	margin-right :60px;
	font-family: Montserrat, sans-serif;
    
}