@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    padding: 0;
}

.nav {
    background: #232323;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    
}
.nav li a:hover {
    background-color: #2e2e2e;
}

#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}

#search {
    width: 357px;
    margin: 4px;
}
#search_text{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #c0c0c0;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search_text:focus {
    background: rgb(227, 226, 246);
}
#search_button {
    border: 0 none;
    background-color: rgb(110,0,255);
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}

#options a{
    border-left: 0 none;
}
#options&gt;a {
    background-image: url(triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: -100px;
    width: 290px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
    z-index:10;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}


.analytics {
	margin: 1rem;
	display: grid;
	grid-template-columns: 64% auto;
	grid-gap: 2rem;
}
.analytics_graph {
	margin: 2rem;
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1rem;
}

.analytics_connect {
	margin: 2rem;
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1rem;
	height: 600px;
}

.card {
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1rem;
}


body{
	background-color:rgb(236,245,249);
}
.btn-round {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-round span {
  display: block;
  font-size: 30px;
  margin-top: 6px;
  margin-left: 2px;
}
h1 {
  text-align: center; /* Centrer le titre */
  margin-top: 50px; /* Ajouter une marge de 50 pixels au-dessus du titre */
  font-family: Montserrat, sans-serif;
}

.container{
  	margin: 2rem;
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1rem;
}

.cdd{
	text-align : left ;
	margin-right :20px;
	margin-top : 20px;
	font-family: Montserrat, sans-serif;
}

.dpt{
	text-align : center;
	margin-top : -20px;
	margin-right :-20px;
	font-family: Montserrat, sans-serif;
}

.dtcrea{
	text-align : left ; 
	margin-right :20px;
	margin-top : -20px;
	font-family: Montserrat, sans-serif;
	
}

.regle{
	text-align : left;
	margin-top : 20px;
	margin-right :20px;
	font-family: Montserrat, sans-serif;
}



.fourn{
	text-align : center;
	margin-right :-20px;
	margin-top : -20px;
	font-family: Montserrat, sans-serif;
}
table{
	border-collapse : collapse;
}


.analytics_graph {
  margin: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 1rem;
}

.cdd{
	text-align : right;
	font-family: Montserrat, sans-serif;
}

.qtt{
	text-align : center;
	margin-top : -20px;
	font-family: Montserrat, sans-serif;
}



.btn_enfer {
    	display: inline-block;
    	background-color: #555B61;
       	border-radius: 10px;
  	  	border: 4px double #cccccc;
     	color: #eeeeee;
   		text-align: center;
   		font-size: 10px;
   		padding: 10px;
      	width: 200px;
        transition: all 0.5s;
   		cursor: pointer;
        margin: 5px;
        font-family: Montserrat, sans-serif;
        margin-top : 20px;
        margin-left : 650px;
      	}
   
.btn_enfer span {
	       		cursor: pointer;
	       		display: inline-block;
	       		position: relative;
	       		transition: 0.5s;
	     	}
.btn_enfer span:after {
	       		content: "\00bb";
	       		position: absolute;
	       		opacity: 0;
	       		top: 0;
	       		right: -20px;
	       		transition: 0.5s;
	     	}
.btn_enfer:hover {
	       		background-color: #7F7F7F;
	     	}
.btn_enfer:hover span {
	       		padding-right: 25px;
	     	}
.btn_enfer:hover span:after {
	       		opacity: 1;
	       		right: 0;
	     	}
	     	
.jiji{
	display: flex;
	justify-content: center;
	font-family: Montserrat, sans-serif;
	margin-top : 20px;
	text-align: center;
	
}

.popo{
	width : 20 px;
	
}


.btn_co {
    	display: flex;
    	justify-content : center;
    	background-color: rgb(110,0,255);
       	border-radius: 10px;
  	  	border: 4px double #cccccc;
     	color: #eeeeee;
   		text-align: center;
   		font-size: 11px;
   		padding: 10px;
      	width: 130px;
        transition: all 0.5s;
   		cursor: pointer;
        margin: 5px;
        font-family: Montserrat, sans-serif;
        font-weight:bold;
        margin-top : 20px;
        margin-left : 650px;
      	}
   
.btn_co span {
	       		cursor: pointer;
	       		display: inline-block;
	       		position: relative;
	       		transition: 0.5s;
	     	}
.btn_co span:after {
	       		content: "\00bb";
	       		position: absolute;
	       		opacity: 0;
	       		top: 0;
	       		right: -20px;
	       		transition: 0.5s;
	     	}
.btn_co:hover {
	       		background-color: #7F7F7F;
	     	}
.btn_co:hover span {
	       		padding-right: 25px;
	     	}
.btn_co:hover span:after {
	       		opacity: 1;
	       		right: 0;
	     	}
	     	

.btn_re {
    	display: flex;
    	justify-content : center;
    	background-color: rgb(110,0,255);
       	border-radius: 10px;
  	  	border: 4px double #cccccc;
     	color: #eeeeee;
   		text-align: center;
   		font-size: 11px;
   		padding: 10px;
      	width: 100px;
        transition: all 0.5s;
   		cursor: pointer;
        margin: 5px;
        font-family: Montserrat, sans-serif;
        font-weight:bold;
        margin-top : 20px;
        margin-left : 650px;
      	}
   
.btn_re span {
	       		cursor: pointer;
	       		display: inline-block;
	       		position: relative;
	       		transition: 0.5s;
	     	}
.btn_re span:after {
	       		content: "\00bb";
	       		position: absolute;
	       		opacity: 0;
	       		top: 0;
	       		right: -20px;
	       		transition: 0.5s;
	     	}
.btn_re:hover {
	       		background-color: #7F7F7F;
	     	}
.btn_re:hover span {
	       		padding-right: 25px;
	     	}
.btn_re:hover span:after {
	       		opacity: 1;
	       		right: 0;
	     	}

