@import url(https://fonts.googleapis.com/css?family=Montserrat);


* {
    margin: 0;
    padding: 0;
}

.nav {
    background: #232323;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    
}
.nav li a:hover {
    background-color: #2e2e2e;
}

#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}

#search {
    width: 357px;
    margin: 4px;
}
#search_text{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #c0c0c0;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search_text:focus {
    background: rgb(64, 151, 119);
}
#search_button {
    border: 0 none;
    background: #1f7f5c url(search.png) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}

#options a{
    border-left: 0 none;
}
#options&gt;a {
    background-image: url(triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: -100px;
    width: 290px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
    z-index:10;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}


.analytics {
	margin: 1rem;
	display: grid;
	grid-template-columns: 64% auto;
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1rem;
}


body{
	background-color: rgb(236,245,249);
}
.button_square {
   width:40%;
   height:100%;
   border:none;
   background-color: rgb(90,90,90);
   color:white;
   outline:none;
   transition:0.2s;
  
}

.button_square:hover {
  background-color: rgb(110,110,110);
}

html, body {
    background-color: rgb(240, 240, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items:center;

}

#cld{
	margin-top: 30px;
    width: 60%;
    height: 80%;
    background-color: rgb(118,118,118);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#enteteCld {
    width:100%;
    height: 18%;
    background-color: rgb(124,124,124);
    display:flex;
    flex-direction: column;

}

#cldT{
    width:100%;
    height:66.666%;
    color:white;
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;
}

#avantEtApres{
    width:100%;
    height:33.333%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60,60,60);
}

.cldBtn{
    width:40%;
    height:100%;
    border:none;
    background-color: rgb(90,90,90);
    color:white;
    outline:none;
    transition:0.2s;

}

.cldBtn:hover{
    background-color: rgb(75,75,75);

}
#cldBoite{
    width:100%;
    height:82%;
    background-color:rgb(143,143,143) ;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
#jours{
    width:100%;
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.jour{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    margin:0;
    font-size:18px;

}

.semaine{
    width:100%;
    height:15%;
    display:flex;
    justify-content:center;
    align-items:center;
   

}
.case{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.1s;
    color:white;
    margin:0;
    font-size:19px;

}

.case:hover{
    background-color:rgb(110,110,110) ;
}