@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0;
    padding: 0;
}

.nav {
    background: #232323;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    
}
.nav li a:hover {
    background-color: #2e2e2e;
}

#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}


.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}


#options a{
    border-left: 0 none;
}
#options&gt;a {
    background-image: url(triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: -100px;
    width: 290px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
    z-index:10;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}


.analytics {
	margin: 1rem;
	display: grid;
	grid-template-columns: 64% auto;
	grid-gap: 2rem;
}
.analytics_graph {
	margin: 2rem;
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1rem;
}

.analytics_connect {
	margin: 2rem;
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1rem;
	height: 600px;
}

.card {
	background: #fff;
	border-radius: 10px;
	box-shadow: var(--shadow);
	padding: 1rem;
}


body{
	background-color:rgb(236,245,249);
}
.btn-round {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-round span {
  display: block;
  font-size: 30px;
  margin-top: 6px;
  margin-left: 2px;
}
h1 {
  text-align: center; /* Centrer le titre */
  margin-top: 50px; /* Ajouter une marge de 50 pixels au-dessus du titre */
  font-family: Montserrat, sans-serif;
}

.btn_enfer {
    	display: inline-block;
    	background-color: rgb(110,0,255);
       	border-radius: 10px;
  	  	border: 4px double #cccccc;
     	color: #eeeeee;
   		text-align: center;
   		font-size: 11px;
   		padding: 10px;
      	width: 130px;
        transition: all 0.5s;
   		cursor: pointer;
        margin: 5px;
        font-family: Montserrat, sans-serif;
        font-weight:bold;
        margin-top : 0px;
        margin-left : 50px;
      	}
   
.btn_enfer span {
	       		cursor: pointer;
	       		display: inline-block;
	       		position: relative;
	       		transition: 0.5s;
	     	}
.btn_enfer span:after {
	       		content: "\00bb";
	       		position: absolute;
	       		opacity: 0;
	       		top: 0;
	       		right: -20px;
	       		transition: 0.5s;
	     	}
.btn_enfer:hover {
	       		background-color: #7F7F7F;
	     	}
.btn_enfer:hover span {
	       		padding-right: 25px;
	     	}
.btn_enfer:hover span:after {
	       		opacity: 1;
	       		right: 0;
	     	}
.btn-entree {
  bottom: 20px;
  right: 20px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  margin-left:18px;
}

.btn-entree span {
  display:flex;
  font-size: 30px;
  margin-top: 6px;
  margin-left: 2px;
}

.jiji{
	display: flex;
	justify-content: center;
	font-family: Montserrat, sans-serif;
	margin-top : 20px;
	text-align: center;
	
}

.popo{
	width : 20 px;
	
}

.btn_co {
    	display: flex;
    	justify-content : center;
    	background-color: rgb(110,0,255);
       	border-radius: 10px;
  	  	border: 4px double #cccccc;
     	color: #eeeeee;
   		text-align: center;
   		font-size: 11px;
   		padding: 10px;
      	width: 130px;
        transition: all 0.5s;
   		cursor: pointer;
        margin: 5px;
        font-family: Montserrat, sans-serif;
        font-weight:bold;
        margin-top : 20px;
        margin-left : 650px;
      	}
   
.btn_co span {
	       		cursor: pointer;
	       		display: inline-block;
	       		position: relative;
	       		transition: 0.5s;
	     	}
.btn_co span:after {
	       		content: "\00bb";
	       		position: absolute;
	       		opacity: 0;
	       		top: 0;
	       		right: -20px;
	       		transition: 0.5s;
	     	}
.btn_co:hover {
	       		background-color: #7F7F7F;
	     	}
.btn_co:hover span {
	       		padding-right: 25px;
	     	}
.btn_co:hover span:after {
	       		opacity: 1;
	       		right: 0;
	     	}
	     	
.titre1{
	font-family: Montserrat, sans-serif;
	text-align : center;	
}


.btn_pln {
    	display: flex;
    	justify-content : center;
    	background-color: rgb(110,0,255);
       	border-radius: 10px;
  	  	border: 4px double #cccccc;
     	color: #eeeeee;
   		text-align: center;
   		font-size: 11px;
   		padding: 10px;
      	width: 130px;
        transition: all 0.5s;
   		cursor: pointer;
        margin: 5px;
        font-family: Montserrat, sans-serif;
        font-weight:bold;
        margin-top : 0px;
        margin-left :700px;
      	}
   
.btn_pln span {
	       		cursor: pointer;
	       		display: inline-block;
	       		position: relative;
	       		transition: 0.5s;
	     	}
.btn_pln span:after {
	       		content: "\00bb";
	       		position: absolute;
	       		opacity: 0;
	       		top: 0;
	       		right: -20px;
	       		transition: 0.5s;
	     	}
.btn_pln:hover {
	       		background-color: #7F7F7F;
	     	}
.btn_pln:hover span {
	       		padding-right: 25px;
	     	}
.btn_pln:hover span:after {
	       		opacity: 1;
	       		right: 0;
	     	}